<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style src="styles.css" ></style>
    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div class="product">

            <div class="product-image">
                <a :href="link">
                    <img :src="image1"/>
                </a>
            </div>

            <div class="product-info">
                <h2 v-if="onSale">On Sale</h2>
                <h1>{{socks}}</h1>
                <span>{{description}}</span>
                <h3 v-if="inStock">In Stock</h3>
                <h3 v-else-if="!inStock">Out Of Stock</h3>
                <ul>
                    <li v-for="(detail,index) in details" :key="index">{{ detail }}</li>
                </ul>
                <ul>
                    <li v-for="(variant,index) in variants" :key="variant.id">{{ variant.color }}</li>
                </ul>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>